* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px 196px;
  backdrop-filter: blur(20px);
  position: fixed;
  width: -webkit-fill-available;
  z-index: 9999;
}
.navbar__logo {
  font-size: 20px;
}
.navbar__logo a {
  color: white;
  font-weight: bold;
}
.navbar__menu {
  display: flex;
  list-style: none;
}
.navbar__menu li {
  padding: 8px 12px;
}
.navbar__menu li:hover {
  background-color: #5f6061;
  border-radius: 4px;
}
.navbar__menu a {
  color: white;
}
.navbar__toogleBtn {
  display: none;
  position: absolute;
  right: 28px;
  font-size: 24px;
  color: #b0b8c1;
}

.wrapper {
  width: 1280px;
  margin: auto;
}
.main1_wrapper {
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(background_main1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.main1_wrapper h1 {
  padding: 196px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 84px;
  line-height: 100px;
  color: #ffffff;
}
.main2_wrapper {
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(background_main2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main2_wrapper h2 {
  text-align: center;
  font-family: Roboto;
  font-size: 30px;
  line-height: 100px;
  color: #b0b8c1;
}
.main2_wrapper h3 {
  text-align: center;
  font-weight: bold;
  font-family: Roboto;
  font-size: 30px;
  line-height: 43.5px;
  color: #ffffff;
}
.main3_wrapper {
  height: 150vh;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text {
  padding: 80px 0px 30px 0px;
  text-align: center;
  font-weight: bold;
  font-family: Roboto;
  font-size: 42px;
  line-height: auto;
  color: #ffffff;
}

/* tree css*/
.tree ul {
  margin: 30px auto;
  position: relative;
  width: 960px;
}
.tree ul:before {
  content: " ";
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -2px;
  padding: 20px 0;
  width: 3px;
  height: 100%;
  background-color: #eee;
}
.tree ul li {
  position: relative;
  margin-bottom: 20px;
  width: 50%;
}
.tree ul li:before {
  content: " ";
  display: block;
  position: absolute;
  top: -4px;
  left: 85.3333%;
  width: 75px;
  height: 38px;
  background-image: url(tree.png);
  background-size: 78px 38px;
}
.tree ul li:nth-child(odd) {
  padding-left: 59.5%;
}
.tree ul li:nth-child(odd):before {
  transform: rotate(180deg);
  left: 45.3333%;
  right: auto;
}
.tree ul li h4 {
  padding-top: 6px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}
.tree ul li p {
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 0.01rem;
  color: #dbdbdb;
  word-break: keep-all;
}

.tree ul li span {
  position: relative;
  display: block;
  margin-top: 20px;
  width: 320px;
  height: 180px;
  background: #dfdfdf;
}
.tree ul li span:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -35px;
  font-size: 14px;
}
.tree ul li span img {
  width: 320px;
  height: 180px;
}
/* team css */
.team1_wrapper {
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(background_team1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.team2_wrapper {
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(background_team2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.team3_wrapper {
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(background_team3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.mainBox {
  width: max-content;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.nick1 {
  font-weight: Bold;
  font-family: Roboto;
  font-size: 24px;
  color: #d2d2d2;
  margin: 18px;
  margin-top: 28px;
}
.nick2 {
  font-weight: Bold;
  font-family: Roboto;
  font-size: 24px;
  color: #ffffff;
  margin: 18px;
}
.nick3 {
  font-weight: Bold;
  font-family: Roboto;
  font-size: 36px;
  color: #ffffff;
  margin: 18px;
}
.p1 {
  font-weight: Bold;
  font-family: Roboto;
  font-size: 24px;
  color: #ffffff;
  margin: 18px;
  margin-top: 40px;
  margin-right: 100px;
}
.p2 {
  font-weight: Bold;
  font-family: Roboto;
  font-size: 36px;
  color: #ffffff;
  margin: 18px;
  margin-left: 100px;
}
.p3 {
  font-weight: Bold;
  font-family: Roboto;
  font-size: 24px;
  color: #ffffff;
  margin: 18px;
  margin-top: 40px;
  margin-right: 300px;
}
.p4 {
  font-weight: Bold;
  font-family: Roboto;
  font-size: 24px;
  color: #ffffff;
  margin: 18px;
  margin-top: 40px;
  margin-right: 700px;
}

.image1 {
  margin-right: 250px;
}
.image2 {
  margin-left: 200px;
}
.image3 {
  margin-right: 20px;
}
.image1 img {
  width: 160px;
}
.image2 img {
  width: 160px;
}
.image3 img {
  width: 160px;
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar__logo {
    padding: 0px 0px 8px 0px;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar__menu li {
    text-align: center;
  }
  .navbar__toogleBtn {
    display: block;
  }
  .navbar__menu.active {
    display: block;
  }

  .main1_wrapper h1 {
    padding: 45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 50px;
    color: #ffffff;
  }
  .main2_wrapper h2 {
    text-align: center;
    font-family: Roboto;
    font-size: 25px;
    color: #b0b8c1;
  }
  .main2_wrapper h3 {
    width: max-content;
    text-align: center;
    font-weight: bold;
    font-family: Roboto;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
  }
  .text {
    padding-top: 120px;
    text-align: center;
    font-weight: bold;
    font-family: Roboto;
    font-size: 20px;
    line-height: auto;
    color: #ffffff;
  }

  .mainBox {
    flex-direction: column;
  }

  .image1 {
    margin-right: 0px;
  }
  .image2 {
    margin-left: 0px;
  }
  .image3 {
    margin-right: 0px;
  }

  .nick1 {
    font-size: 18px;
    margin: 18px;
    margin-top: 28px;
  }
  .nick2 {
    font-size: 18px;
    margin: 18px;
  }
  .nick3 {
    font-size: 20px;
    margin: 18px;
  }
  .image1 img {
    width: 120px;
  }
  .image2 img {
    width: 120px;
  }
  .image3 img {
    width: 130px;
  }
  .p1 {
    font-size: 18px;
    margin: 0px;
    margin-top: 70px;
  }
  .p2 {
    font-size: 18px;
    margin: 0px;
    margin-top: 15px;
  }
  .p3 {
    font-size: 18px;
    margin: 0px;
    margin-top: 70px;
  }
  .p4 {
    font-size: 18px;
    margin: 0px;
    margin-top: 70px;
  }

  .team2_wrapper .mainBox {
    flex-direction: column-reverse;
  }

  /* tree */
  .tree ul li {
    position: relative;
    margin-bottom: 20px;
    width: 50%;
    padding-left: 40%;
  }
  .tree ul li:before {
    content: " ";
    display: block;
    position: absolute;
    top: -4px;
    width: 75px;
    height: 38px;
    background-image: url(tree.png);
    background-size: 78px 38px;
    transform: rotate(180deg);
    left: 20%;
    right: auto;
  }
  .tree ul li:nth-child(odd) {
    padding-left: 40%;
  }
  .tree ul li:nth-child(odd):before {
    transform: rotate(180deg);
    left: 20%;
    right: auto;
  }
  .tree ul:before {
    left: 19.3%;
  }

  .main3_wrapper {
    height: 180vh;
  }

  .tree ul li span {
    width: 180px;
    height: 110px;
  }
  .tree ul li span img {
    width: 180px;
    height: 110px;
  }
  .tree ul li h4 {
    padding-top: 6px;
    margin-bottom: 10px;
    font-size: 8px;
    color: #ffffff;
    font-weight: bold;
  }
  .tree ul li p {
    display: none;
  }
  .tree ul {
    width: auto;
  }
}
